<table align="top" cellpadding="5" cellspacing="0" border="0" width="100%">

  <%
  i=0
  @folder_result.each_with_index do |folder,i|
    i=i+1
  %>
    <tr class='grid_dark' >
      <td width="2%"><img width="25" height="25" align="middle" align="middle" src="/public/images/icos/folder.jpg"/></td>
      <td class="gridright" valign="middle">&nbsp;&nbsp;<%=folder.attributes['name']%></td>
    </tr>
  <%  end %>
  <%   @file_result.each_with_index do |file,i|
  %>
    <tr >
      <td width="1%" valign="middle" class="odd">&nbsp;</td>
      <td width="2%" valign="middle" class='odd'><img  width="48" height="48" align="middle" align="middle" src="/public/images/icos/<%=file.attributes['type']%>.png"/></td>
      <td class="gridright" valign="top"><a href="/app/Searchs/download_file?url=http://<%=Rho::RhoConfig.demoserver%><%=file.attributes['path']%>&name=<%=file.attributes['name']%>&type=<%=file.attributes['type']%>"><%=file.attributes['name']%></a><br><%=file.attributes['size']%>KB</td>
    </tr>
  <%  end %>
</table>